{% extends 'adminbase.html.twig' %}

{% block title %}
    ADMIN Comments
{% endblock %}

{% block body %}
    <br>
    <a href="{{ path('admin_home') }}">Hide</a>
    <hr>

<div class="comments">
    <h4 class="mb-6">All Comments</h4>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
        {% endfor %}
    <table class="table">
    {% for item in list %}

        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.date|format_date }}</td>
            <td>{{ item.comment }}</td>
            <td><a href="{{ path('admin_commentsDelete', {id:item.id}) }}">[Delete]</a></td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}



