{% extends 'base.html.twig' %}

{% block title %}
    Latest News!
{% endblock %}

{% block body %}
    <div class="page-breadcrumb py-5 py-lg-7 bg-info bg-opacity-10">
        <div class="container pt-9">
            <h2 class="display-6 mb-0">Latest news</h2>
        </div>
    </div>

    <main>
        <div class="container py-7">
            <div class="row masonry-grid mb-5">
                {% for item in posts %}
                <div class="col-lg-4 col-sm-6 masonry-item mb-4">

                    <div class="post">
                        <a href="{{ path('default_newsOne', {id:item.id}) }}">
                            <img src="{{ item.image }}" alt="" class="img-fluid">
                        </a>
                        <div class="p-4">
                            <div class="d-flex align-items-center">
                                    <span
                                            class="d-block me-2 width-20 border-top border-2 border-secondary"></span><span>{{ item.date|format_date }}</span>
                            </div>
                            <h4 class="pt-2 mb-3"><a href="{{ path('default_newsOne', {id:item.id}) }}">{{ item.name }}</a>
                            </h4>
                            <p class="text-muted">
                                {{ item.description }}
                            </p>
                            <div class="text-right">
                                <a href="{{ path('default_newsOne', {id:item.id}) }}">More <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}