
{% block body %}
    <div id="cartNavmenu" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom position-relative">

            <h4 class="mb-0">Your cart</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body p-4 flex-grow-1">
            <!--Cart items list-->
            <ul class="list-unstyled cart-list mb-0">
                {% for item in list %}
                <!--Cart item-->
                <li class="d-flex mb-3 align-items-center">
                    <div class="me-4 flex-shrink-0">
                        <a href="#">
                            <img src="{{ item.product.image }}" alt="" class="width-80 h-auto rounded-3">
                        </a>
                    </div>
                    <div class="position-relative pe-5 flex-grow-1">
                        <a href="#!"
                           class="flex-center text-muted rounded-circle position-absolute end-0 top-50 translate-middle-y">
                            <i class="fas fa-trash-alt"></i></a>
                        <h6 class="mb-1"><a href="#">{{ item.product.name }}</a></h6>
                        <p class="mb-0"><span class="price text-muted small">${{ item.product.price }}</span>x{{ item.qty }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!--Cart action-->
        <div class="offcanvas-footer p-4">
            <div class="text-center d-grid">
                <a href="checkout-details.html" class="btn btn-secondary mb-2">Checkout</a>
                <a href="{{ path('cart_viewCart') }}" class="btn btn-link">View Cart</a>
            </div>
        </div>
    </div>
{% endblock %}